body {
    background-color: #333;
}

.box {
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    top: 200px;
    transition: all 1s;
}

.box:hover {
    background-color: red;
    border-radius: 20px;
    transform: scale(1.1);
    transform: rotateY(180deg);
}
